*
{
    padding: 0;
    margin: 0;
}





body
{
    background-image: url(/road.jpg);
    background-repeat: repeat;
/*     background-color: rgb(18, 139, 5); */
}

.stucture
{
    width: 400px;
    position: relative;
    top: 140px;
    left: 900px;
    z-index: 1;
}


.wheel1
{
    height: 90px;
    width: 85px;
    position: absolute;
    left: 958px;
    top: 247px;
    animation: wheel1 0.20s ease-in  infinite reverse;
    z-index: 2;
}

.wheel2
{
    height: 90px;
    width: 85px;
    position: absolute;
    left: 1180px;
    top: 246px;
    animation: wheel2 0.20s ease-in  infinite reverse;
    z-index: 2;
}


@keyframes wheel1
{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);} 
}

@keyframes wheel2
{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);} 
}


.car
{
    position: absolute;
    animation: car 5s ease-in 1;
    left: -5000px;
}




/* Now applying another car - reversed */

.stucture2
{
    width: 400px;
    position: relative;
    z-index: 1;
    top: 660px;
    left: 40px;
}

.wheel3
{
    height: 90px;
    width: 85px;
    position: absolute;
    left: 77px;
    top: 766px;
    animation: wheel2 0.20s ease-in  infinite;
    z-index: 2;
}

.wheel4
{
    height: 90px;
    width: 85px;
    position: absolute;
    left: 297px;
    top: 770px;
    animation: wheel2 0.20s ease-in  infinite 0s;
    z-index: 2;
}


.car2
{
    position: absolute;
    animation: car2 5s ease-in  1 1s;
    left: -5000px;
}



.car3
{   
    position: absolute;
    animation: car3 5s ease-in 1 5s;
    left: -5000px;
    top: 950px;
}




.car4
{
    position: absolute;
    animation: car4 5s ease-in  1 6s;
    left: -5000px;
    top: 950px;
}

.car5
{   
    position: absolute;
    animation: car5 5s ease-in 1 11s;
    left: -5000px;
    top: 1903px;
}


@keyframes car 
{
    from{left: 4000px;}
    to{left: -4000px;}    
}

@keyframes car2 
{
    from{left: -4000px;}
    to{left: 4200px;}    
}


@keyframes car3
{
    from{left: 4000px;}
    to{left: -4000px;}    
}


@keyframes car4 
{
    from{left: -4000px;}
    to{left: 4200px;}    
}

@keyframes car5
{
    from{left: 4000px;}
    to{left: -4000px;}    
}
